@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-zinc-100;
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/10;
}

.glow-hover:hover {
  box-shadow: 0 0 40px rgba(99, 102, 241, 0.35);
}



.container-app {
  @apply mx-auto px-6;
}

.container-prompts{
  @apply mx-auto max-w-7xl px-6;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
